<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chris_corey.c196project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateAssessmentActivity"
            android:label="Update Assessment"
            android:launchMode="singleTop"
            android:parentActivityName=".AssessmentDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AssessmentDetailsActivity" />
        </activity>
        <activity
            android:name=".UpdateCourseActivity"
            android:label="Update Course"
            android:launchMode="singleTop"
            android:parentActivityName=".CourseDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".UpdateTermActivity"
            android:label="Update Term"
            android:launchMode="singleTop"
            android:parentActivityName=".TermDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermDetailsActivity" />
        </activity>
        <activity
            android:name=".CourseNotesActivity"
            android:label="Course Notes"
            android:launchMode="singleTop"
            android:parentActivityName=".CourseDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".AddAssessmentActivity"
            android:label="Add Assessment"
            android:launchMode="singleTop"
            android:parentActivityName=".AssessmentDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AssessmentDetailsActivity" />
        </activity>
        <activity
            android:name=".AddCourseActivity"
            android:label="Add Course"
            android:launchMode="singleTop"
            android:parentActivityName=".CourseDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".AddTermActivity"
            android:label="Add Term"
            android:launchMode="singleTop"
            android:parentActivityName=".TermListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity
            android:name=".AssessmentDetailsActivity"
            android:label="Assessment Details"
            android:launchMode="singleTop"
            android:parentActivityName=".CourseDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".CourseDetailsActivity"
            android:label="Course Details"
            android:launchMode="singleTop"
            android:parentActivityName=".TermDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermDetailsActivity" />
        </activity>
        <activity
            android:name=".TermDetailsActivity"
            android:label="Term Details"
            android:launchMode="singleTop"
            android:parentActivityName=".TermListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity
            android:name=".TermListActivity"
            android:label="Term List"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>